_site
out
.idea
*.sw?
*.un~
.DS_Store
public/assets/_components
node_modules
.sass-cache
npm-debug.log
public/assets/styles/style.css
public/assets/styles/style.css.map
.sass-cache
public/talks/reveal

