doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/assets/favicon.ico')
    link(rel='stylesheet', href='/assets/styles/markdown.css')
    style
        @media only print {
            body a:visited {
                color: #0099ff;
            }
            body, p, ol, ul, blockquote, hr {
                max-width: inherit;
            }
            hr {
                width: auto;
            }
        }
        li.expert {
            color: #268bd2;
        }
        li.proficient {
            color: #6c71c4;
        }
        li.literate {
            color: #d33682;
        }
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css')
    include ../_shared/analytics
  body
    p
        img.avatar(style="float:right; width: 72px; border-radius: 10px; " src="http://www.gravatar.com/avatar/9fe1649090216341429d39f2425a7d5c.png?s=144")
    != yield
