!!! 5
html(lang='en')
  include _shared/posts
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/assets/favicon.ico')
    link(rel='stylesheet', href='/assets/styles/normalize.css')
    link(rel='stylesheet', href='/assets/styles/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/styles/style.css')
    link(rel='stylesheet', href='/assets/styles/highlight_solarized_dark.css')
    != header
    each u in (scripts || [])
      script(src=u)
    include _shared/analytics
  body
    .container
      unless (current.path.length == 1 && current.path[0]=='index')
        a.homeLink(href='/' title='home')
          mixin icon('home')
      .header
        h1.title
          span.brand
            mixin post_icon(locals)
            mixin post_title(locals, current.path[current.path.length-1])
            | 
        h3.subheading!= description
      .nav
        block nav
          .gather
            include _shared/post_tags
      .main
        block main
          != yield
      .footer
        block footer
    script(src='/assets/scripts/jquery.min.js')
    script(src='/assets/scripts/lodash.min.js')
    script(src='/assets/scripts/highlight.pack.js')
    script| hljs.initHighlightingOnLoad()
    script(src='/assets/scripts/toggle-grid.js')
    block scripts
