!!! 5
html(lang='en')
  include _shared/posts
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/assets/favicon.ico')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/styles/normalize.css')
    link(rel='stylesheet', href='/assets/styles/style.css')
    link(rel='stylesheet', href='/assets/styles/syntax.css')
    != header
    each u in (scripts || [])
      script(src=u)
    include _shared/analytics
  body
    //- if field(locals, 'navbar')
    //-   include _shared/navbar
    .container
      .header
        unless (current.path.length == 1 && current.path[0]=='index')
          a(class='nav-link' href='/') ◀
        h1.title
          span.brand
            mixin post_icon(locals)
            mixin post_title(locals, current.path[current.path.length-1])
            | 
        h3.subheading!= description
      .main
        div.page-info
          include _shared/post_tags

        != yield
      .footer
    //- script(src='/assets/scripts/jquery.js')
