!!! 5
html(lang='en')
  include _shared/posts
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/assets/favicon.ico')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/styles/syntax.css')
    link(rel='stylesheet', href='/assets/styles/application.css')
    script(src='/assets/scripts/jquery.min.js')
    script(src='/assets/scripts/bootstrap.min.js')
    script.
      $(function () {
      $("[rel='tooltip']").tooltip();
      });
    != header
    include _shared/analytics
  body
    if field(locals, 'navbar')
      include _shared/navbar
    .container.site
      .page-header
        p.page-info.pull-right
          if date
            mixin date_label(date)
          each tag in field(locals, "tags")
            mixin tag(tag)
          //- a.label.label-warning(href='http://prose.io/#{ github.repo }/edit/#{ github.branch }/{{ page.path }}')
          //-   mixin icon("code")  edit
        h1.title
          mixin post_icon(locals)
          = title
        h1.subtitle: small!= description
      .page-body
        != yield
