extends _layout
block main
  include _shared/analytics_opt_out
  include _shared/swatches
  style(type='text/css')
block nav
  .gather
    include _shared/sections
  .search
    .input(contenteditable="true" spellcheck="false")
    form(action='http://google.com/cse' )
      input(type='hidden', name='cx', value='012963123305395825585:pm5e7m4z5ey')
      input(type='hidden', name='ie', value='UTF-8')
      input(type='hidden', name='q')
