extends _jlayout
include _shared/posts

block page-info
  include _shared/sections

block main
  .home
    .articles
      each post in posts_array(public.articles._data)
        mixin post_summary(post, post.slug, '/articles')
