.row
  .col-sm-6.post-list
    h2
      {% include _shared/icon.html icon="clock-o" %} latest
      small
        a(href='/latest/') more
    ul.nav.nav-pills.nav-stacked
      {% for post in site.posts limit:5 %}
      li {% include post_link.html post=post %}
      {% endfor %}
  .col-sm-6
    h2 {% include icon.html icon="th-large" %} sections
    ul.nav.nav-pills.nav-stacked
      {% for post in site.pages %}{% if post.tags contains "main" and post.url != page.url and post.title != null %}
      li
        %a{href: ""} {% include post_icon.html post=post fixed=true %} 
      {% endif %}{% endfor %}