include _shared/posts

.row
  .col-sm-6
    h2 
      mixin icon("th-large")
      | sections
    ul.nav.nav-pills.nav-stacked
      include _shared/sections
  .col-sm-6
    h2
      mixin icon("bookmark") articles
      small 
        a(href='/articles/') more
    ul.nav.nav-pills.nav-stacked
      each post in posts_array(public.articles.data).slice(0,5)
        li 
          mixin pretty_link(post, post.slug, '/articles')