extends _layout
include _shared/posts
block nav
  ul
    include _shared/sections
    li#searchBox
      form(action='http://google.com/cse')
        input(type='hidden', name='cx', value='012963123305395825585:pm5e7m4z5ey')
        input(type='hidden', name='ie', value='UTF-8')
        input(type='text', name='q', size='20')

block main
  .home
    .media.bio
      .figure
        img.avatar(src="http://www.gravatar.com/avatar/9fe1649090216341429d39f2425a7d5c.png?s=96")
      .body
        :markdown
          I'm **Eric Drechsel** &mdash;
          a multiclass creative professional with deep roots in the web and open source, 
          a focus on user experience, education in math modeling and statistical methods,
          and an immense curiousity and propensity for diving in with new and challenging topics. 

          In my free time I ride my bike, eat things I find outdoors, take online courses, and experiment with distributed information systems.
    .media.articles
      .figure
        mixin icon("pencil", ["fa-4x"], true)
      .body
        h2 Articles
        each post in posts_array(public.articles._data)
          mixin post_summary(post, post.slug, '/articles')

block footer

block scripts
  script(type='text/javascript').
    function renderActivityStream(root, extender, limit) {
      var ignore = [
        /^edrex pushed to master at edrex\/edrex.github.io/,
        /^RT @/
      ]
      var tpl = '<% _.forEach(items, function(i) { %><li><a href="<%- i.link %>" title="<%- i.source %> - <%- new Date(i.date).toDateString() %>"><i class="fa fa-li fa-<%- i.source %>"></i><%= i.title %></a></li><% }); %>';
      var n = 0;
      var items = [];

      function extend(){
        n = n + limit;
        root.html(_.template(tpl, { items: items.slice(0,n) }))
      }
      $.get("https://zapier.com/engine/rss/196193/activity/", function (data) {
        items = $(data).find("item").map(function () { 
          var el = $(this);
          return {
            title: el.find("title").text(),
            link: el.find("link").text(),
            description: el.find("description").text(),
            author: el.find("creator").text(),
            date: el.find("pubDate").text(),
            source: el.find('link').text().replace(/^https?:\/\/([a-z.]+\.)?([a-z]+)\.[a-z]+\/.*/,"$2")
          }
        }).get().filter(function(elt){
          return !(ignore.some(function(p){return p.test(elt.title)}));
        });
        extend();
        extender.click(function(event){
          event.preventDefault();
          extend();
          if (n >= items.length) {
            $(this).hide();
          }
        });
      });
    }
    (function() {
      var root = $('.activityStream')
      renderActivityStream(root.find('ul'), root.find('.more'), 5)
    }())
