include _shared/posts

.home
  .articles
    h2
      mixin icon("bookmark") Articles
      small 
        a(href='/articles/') ...
    ul.nav.nav-pills.nav-stacked
      each post in posts_array(public.articles._data).slice(0,5)
        li 
          mixin pretty_link(post, post.slug, '/articles')
  .sections
    h2 
      mixin icon("th-large")
      | Sections
    ul.nav.nav-pills.nav-stacked
      include _shared/sections
