include _shared/mixins
.row
  .col-sm-4
    h2 
      mixin icon("th-large")
      | sections
    ul.nav.nav-pills.nav-stacked
      each post, slug in public.data
        if post.main
          li
            mixin pretty_link(post, slug)
  .col-sm-4
    h2
      mixin icon("page") articles
      small 
        a(href='/latest/') more
    ul.nav.nav-pills.nav-stacked
      each post, slug in public.articles.data
        li 
          mixin pretty_link(post, slug, '/articles')
  .col-sm-4
    h2
      mixin icon("clock-o") journal
      small 
        a(href='/latest/') more
    ul.nav.nav-pills.nav-stacked
      each post, slug in public.journal.data
        li 
          mixin pretty_link(post, slug, '/journal')
