$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$black:      $base03;
.swatches {
  display: flex;
  flex-flow: row wrap;
  > div {
    // display: inline-block;
    width: 8em;
  }
}
.swatch {
  display: inline-block;
  width: 3em;
  height: 3em;
}

.baseOC {
  background: $base03;
}
.baseOB {
  background: $base02;
}
.baseOA {
  background: $base01;
}
.baseOO {
  background: $base00;
}
.baseO {
  background: $base0;
}
.baseA {
  background: $base1;
}
.baseB {
  background: $base2;
}
.baseC {
  background: $base3;
}
.yellow {
  background: $yellow;
}
.orange {
  background: $orange;
}
.red {
  background: $red;
}
.magenta {
  background: $magenta;
}
.violet {
  background: $violet;
}
.blue {
  background: $blue;
}
.cyan {
  background: $cyan;
}
.green {
  background: $green;
}

body {
  color: $black;
  background: $base3;
}

.container {
  background: $base3;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  color: $base02;
}

h1.title {
  color: $orange;
  i {
    color: inherit;
  }
}

.subheading {
  color: $base00;
}

a, a .fa, a:visited {
  color: $blue;
}
a {
  font-weight: bold;
}
a:hover, a:hover .fa {
  color: $orange;
}

a:active, a:active .fa {
  text-decoration: underline;
}

.date {
  color: $base01;
}

.fa {
  color: $base0;
}
