/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
  font-family: "EmojiSymbols";
  src: url('../fonts/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
  font-style: normal;
}
.emoji {
  font-family: "EmojiSymbols";
}

.fa-google:before { 
  content: "\f0d4";
}

.fa-goodreads:before { 
  content: "\f02d";
}