@import "colors";
@import "emoji";
// @import "layout";
@import "bourbon";
@import "compass/css3/border-radius";


*, *:before, *:after{
  @include box-sizing(border-box);
}

$m: 12px;

body {
  padding: $m 0;
}

@media(min-width: 600px) {
  body {
    padding-left: $m;
    padding-right: $m;
  }
}

.container {
  position: relative;
  padding: $m;
  @include clearfix;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1 1 30em;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around;
  .title {
    padding-right: .67em;
  }
}

.subheading {
  margin-top: -1.6em;
}

.homeLink {
  left: 0;
  top: -$m;
  font-size: 3em;
  position: absolute;
}

.post-summary {
  .post-link {
    font-size: 1.6em;
  }
  .description {
    color: $base03;
  }
  margin-bottom: 1em;
}

.search {
  // ensure empty element has a baseline
  position: relative;
  z-index: 0;
  &:before {
    content: "\2060";
  }
  &:after {
    @extend .icon;
    content: "\f002";
    position: absolute;
    right: 0;
    padding-right: .2em;
  }
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  background: white;
  // this is outside so the baseline doesn't get messed up
  padding: .2em;
  .input {
    margin: -.2em;
    padding: .2em;
    min-width: 5em;
    padding-right: 1.4em;
    z-index: 1;
    background: transparent;
  }
  > form {
    display: none;
  }
}

.nav {
  margin-top: -.8em;
  font-size: 1.6em;

  // padding: 0;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  > * {
    margin: .3em;
    flex-shrink: 0;
  }
  > .spacer {
    flex-shrink: 100;
  }
  > .gather {
    flex-grow: 1;
  }
  > .search {
    flex-grow: 1;
  }
}

.gather {
  > * {
    margin: .3em;
  }
}

.sections {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  > * {
    flex: 1 1 30em;
  }
}

$figsize: 128px;

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $m;
  position: relative;
  z-index: 1;
  > * {
    margin: .5em;
  }
  .watermark {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 0;
    opacity: .5;
    i {
      color: $base2;
    }
    font-size: $figsize;
    margin: $m 0;
    // text-align: center;
  }
  .body {
    z-index: 1;
    flex: 1 1 12em;
  }
}

.figure {
  display: flex;
  height: $figsize;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  i {
    font-size: $figsize/2;
  }
  .avatar {
    width: $figsize;
  }
}

// small generic components

.button {
  margin: $m;
}

.label, .label:visited, .date {
  padding-right: .2em;
  white-space: nowrap;
}

p {
  margin-top: 0;
}
