@import "colors";
@import "emoji";
// @import "layout";
@import "bourbon";

*, *:before, *:after{
  @include box-sizing(border-box);
}

@import "grid";

.subheading {
  margin-top: -.6em;
}

.post-summary {
  .post-link {
    font-size: 1.6em;
  }
  .description {
    color: $base03;
  }
  margin-bottom: 1em;
}

.sections {
  // font-size: ms(1, 1em);

}

ul.activities {
  list-style-type: none;
}

ul.site-nav, ul.page-info {
  text-align: right;
  list-style-type: none;
  padding-left: 0;
  li {
    margin-right: 1em;
    display: inline-block;
  }
  clear: both;
}

ul.page-info {
  text-align: center;
}


.aside {
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}

#searchBox * {
  display: inline;
}

.media {
  display: flex;
  align-items: flex-start;
  .figure {
    margin-right: 1em;
  }
  .body {
    flex: 1;
  }
}

// fix underline for icons in links
// i {
//   text-decoration: inherit
// }