@import "colors";
@import "emoji";
// @import "layout";
@import "bourbon";
@import "compass/css3/border-radius";


*, *:before, *:after{
  @include box-sizing(border-box);
}

$gutters: .6em;

body {
  margin: .5em auto;
  // max-width: 960px;
}
.container {
  position: relative;
  margin: 1px 2*$gutters;
  @include clearfix;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  .title {
    padding-right: .67em;
  }
}

.subheading {
  margin-top: -1.6em;
}

.homeLink {
  right: 0;
  font-size: 3em;
  position: absolute;
}

.post-summary {
  .post-link {
    font-size: 1.6em;
  }
  .description {
    color: $base03;
  }
  margin-bottom: 1em;
}

}
.nav {
  font-size: 1.6em;
  input[type="text"] {
    width: 15vw;
  }
  padding: 0;
  margin-top: -.8em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  > * {
    margin: .3em;
  }
  > .spacer {
    flex-shrink: 100;
  }
  > .search {
    flex-grow: 1;
  }
}

.gather {
  > * {
    margin: .3em;
  }
}

.media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 2em;
  .figure {
    flex-grow: 0;
  }
  .body {
    flex: 1 1 18em;
  }
}

.figure {
  margin: 1em;
}

.avatar {
  width: 128px;
}

// small generic components
.label, .label:visited, .date {
  padding-right: .2em;
  white-space: nowrap;
}
