section
  h2 Archiving and Annotating Hand-Written Notes
  p
    small
      a(href='http://eric.pdxhub.org') Eric Drechsel
      |  /
      a(href='http://twitter.com/edrex') @edrex
  aside.notes
    | I am fully aligned with camlistore's mission to get all your stuff in one archival basket
    | In particular, I'm interested in archiving and annotating handwritten notes.
    | Napkins, 3x5s, whiteboard diagrams
section
  h2 Outline
  :markdown
    Let's iterate
    1. Make the slides
    2. Add draft images
    3. Improve

section
  img(src='pages/dsa.jpg')
section
  :markdown


    In a world..
    where all your stuff is in one basket

      - http://demosthenes.info/blog/696/Using-SVG-as-an-Alternative-To-Imagemaps
