section
  h1 SystemJS: Modules in the Browser
  aside.notes 
    :markdown
section
  h2 Tasks
  :markdown
    - [ ] Push stub talk to website
    - [ ] Make an outline
    - Stub History
    - 
    - Research History
section
  h2 Outline
  ul
    li History of modular JS
    li Where are we now? Where are we headed?
    li How SystemJS helps us get there.
section
  h2 History of modular JS
  ul
    li History of modular JS
    li Archean era (Sun, Netscape, etc)
    li AMD / Require.JS (where/who/why)
    li Common JS
      ul
        li To the browser: browserify and webpack
    li ES6 Modules
    li ES6 Module Loader
    li In that context: SystemJS is a set of ES6 module lifecycle hooks
    li But more than that: it's a c
section
  img.avatar(src="http://www.gravatar.com/avatar/9fe1649090216341429d39f2425a7d5c.png?s=512")  
  h2 Eric Drechsel
  p Slides at 
    a(href='//eric.pdxhub.org') eric.pdxhub.org/talks
  p
    a(href='http://twitter.com/edrex') @edrex
