section
  h1 Continuously Deploy Your Site
  h3 with Webhooks
  p: a(href='http://eric.pdxhub.org') Eric Drechsel
  p: a(href='http://twitter.com/edrex') @edrex
section
  h2 Computers are Rad!
  p ^ edrex, age 13
  aside.notes
    p Why? I was excited about all the cool domains I could explore (not the technology)
