h1 Technical Skills

h3 Legend
ul.legend
 li.expert Expert
 li.proficient Proficient
 li.literate Literate

h2 Client Side

h3 Core Technologies

ul
  li.expert CSS3

h3 Libraries
ul
  li.proficient Underscore
  li.proficient AngularJS
  li.literate React
