section
  img(src='pages/title.jpg')
  aside.notes
    | I am fully aligned with camlistore's mission to get all your stuff in one archival basket
    | In particular, I'm interested in archiving and annotating handwritten notes.
    | Napkins, 3x5s, whiteboard diagrams
section
  img(src='pages/draw.jpg')
  aside.notes
    | Often ideas come to us when we aren't at our computers
    | often, because we're not at our computers
    | thesis: modalities optimized for capture should have little facility for output
section
  img(src='pages/scan.jpg')
  aside.notes
    | Camli excels here: you can capture stuff on the spot, and organize it later
    | you never know what ideas might turn into something later
section
  img(src='pages/annotate.jpg')
  aside.notes
    | Camli supports arbitrary metadata for permanodes
    | *appeal to brad for more info about the way permanodes are indexed*
    | specifically, can a permanode "wrap" any existing type?
section
  img(src='pages/contact.jpg')
