section
  h1 Serving Social Spaces
  p
    | Eric Drechsel / 
    a(href='https://eric.pdxhub.org') eric.pdxhub.org
    |  / 
    a(href='http://twitter.com/edrex') @edrex
  aside.notes
    p This talk is about obtaining, configuring, and operating a local shared network application server in your shared space
    p I've been operating my own home servers more or less continuously since 1996.
section
  h2 Outline
  ul
    li.fragment What?
    li.fragment Why?
    li.fragment How?
  aside.notes 
    p  (definitions and motivation)
section
  h2 What?
  ul
    li.fragment A local shared network application server
    li.fragment Sounds pretty abstract..
    li.fragment Let's look at some applications
  aside.notes 
section
  h2 But why?
  ul
    li.fragment Practical
    li.fragment Political
  aside.notes 
section
  h2 How?
  ul
    li Challenges
    li Practical 
  aside.notes 
section(data-background="serving/plug.jpg")
  h2 Ideal
  ul
    li.fragment A box you plug into the wall,
    li.fragment make a few decisions about what applications you want to run,
    li.fragment and enjoy years of service with little maintanence.
    li.fragment When it fails, you just replace it and pick up where you left off.
section(data-background="serving/plug.jpg")
  h2 Reality
  ul
    li.fragment Needs a lot of know-how and manual configuration
    li.fragment Difficult to reproduce if your server fails
    li.fragment Requires care to ensure user data is reliably stored
section(data-background="serving/plug.jpg")
  h2 Configuration
  ul
    li.fragment Network
    li.fragment Hardware selection
    li.fragment Requires care to ensure user data is reliably stored
section
  p Eric Drechsel / 
    a(href='https://twitter.com/edrex') @edrex
  img.avatar(src="http://www.gravatar.com/avatar/9fe1649090216341429d39f2425a7d5c.png?s=256")  
  p Slides: 
    a(href='http://eric.pdxhub.org/talks') eric.pdxhub.org/talks
