section
  h1 On Making Stuff
  h3 and putting it on the web
  h5 (without getting tangled up in the technology)
  p
    small
      | Speaker:
      a(href='http://eric.pdxhub.org') Eric Drechsel
      |  /
      a(href='http://twitter.com/edrex') @edrex
  aside.notes
    | Point-in-time snapshot of my learning process. Questions/comments anytime.
section
  h2 Computers are Rad!
  p ^ edrex, age 13
  aside.notes
    p Why? I was excited about all the cool domains I could explore (not the technology)
section
  h2 Who am I?
  ul
    li(class="fragment") resume says I'm a software engineer.
  h3(class="fragment") But
  ul
    li(class="fragment") I went to school for math and physics,
    li(class="fragment") study natural science,
    li(class="fragment") have notebooks full of drawings,
    li(class="fragment") and a lot more.
  aside.notes
    | Point is, I've become a producer of technology. Never my intention! Now I want to use that competency to explore other knowledge domains.
section
  h2 Enough technology. It's time to make stuff.
  ul
    li Learn to communicate using this media
    li and others:
      ul
        li VBlogs / Podcasts
        li Data visualization
  aside.notes
    p Write about
      ul
        li technology (better)
        li sociology
        li pedagogy
section
  :markdown
    ## Personal challenges

    - Developer-think
    - So many new skills to learn!

  aside.notes
    | Wanting to play with tech
    | Patterns of thinking that are no longer useful
    | Keeping the tech out of the way so I can learn the other stuff
    | So much procrastination momentuum to defuse
section
  :markdown
    ## It's all about the content
    ```
                /--< IA/UX and visual design
    Content <--|
                \--< Technology
    ```
section
  :markdown
    ## Optimize for productivity

      - Small, comprehensible stack
      - Orthogonality

section
  :markdown
    ## In general

    - Choose your abstractions carefully
    - Libraries encapsulate patterns
    - Learn the patterns

section
  :markdown
    ## Preprocessor languages

    - Markdown
    - Jade (Haml)
  aside.notes
    :markdown
      yay! (except sometimes)
section
  :markdown
    ## Static site generation

    - Jekyll
    - Harp

section
  :markdown
    ## CSS Preprocessors

    - Sass, Stylus, Less
    - Sass is a pattern library
  aside.notes
    :markdown
      - Stylus is a nicer language ?
      - But it doesn't matter.
      - Sass wins
      - libsass vs Ruby Sass
        - libsass is way behind. Sass 3.3 added a bunch of new syntax that the libsass team will be catching up with for awhile
        - (evil) mixin developers sometimes include Ruby functions in their mixin libraries, making them incompatible with libsass

section
  :markdown
    ## Frameworks

    - Bootstrap
    - Foundation
    - All you need is normalize
section
  :markdown
    ## Layout
    - Susy
    - Singularity

section
  :markdown
    ## Hosting

    - Continuous deployment
    - S3 or whatever

section
  :markdown
    ## Other stuff

      - Don't get hung up on the technology
      - Habituate on frequent, meaningful commits and pushes
      - Code tasks get a big red "Admin" label in Trello.
  aside.notes
    :markdown
      - Avoid dirty working copy syndrome
section
  h1 Questions?
  h3 Eric Drechsel @edrex
  :markdown
    <https://github.com/edrex/edrex.github.io>