include ../_shared/deep
- function fieldGetter(f){return function(p){return p.hasOwnProperty(f) ? p[f] : []}}
- function wrappedFieldGetter(f){return function(p){return [keysInField(p[f])]}}
//- crit should take a post and return an array of index keys
- function indexPostsBy(P, crit){var R={}; for(var p in P){crit(P[p]).forEach(function(t){if (!R.hasOwnProperty(t)){R[t]=[]};R[t].push(p)})}; return R}
