if date
  li: mixin date_label(date)
each tag in field(locals, "tags")
  li: mixin tag(tag)
//- a.label.label-warning(href='http://prose.io/#{ github.repo }/edit/#{ github.branch }/{{ page.path }}')
//-   mixin icon("code")  edit
